.d1{
    background-color: pink;
    border: 1px solid ;
    width: 280px;
    height: 85px;

}
.d2{
    background-color: pink;
    border: 1px solid ;
    width: 280px;
    height: 85px;
    transform: rotate(45deg);
}